.alreadyConnectedContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: radial-gradient(circle at top left, #0D1B2A, #102134);
  background-color: #0D1B2A;
  background-image: url('../assets/images/record.png');
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: clamp(200px, 40vw, 600px);
  background-blend-mode: multiply;
  background-attachment: fixed;
  font-family: 'Happy Monkey', cursive;
  color: #fff;
  text-align: center;
  overflow: hidden;
}

.alreadyConnectedLogo {
  width: 10rem;
  margin-bottom: 9rem;
  animation: bounce 1.5s infinite;
}

.alreadyConnectedTitle {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  animation: fadeIn 1s ease-out forwards;
  text-shadow: 0 2px 6px rgba(0,0,0,0.4);
}

.alreadyConnectedText {
  font-size: 1.3rem;
  margin-bottom: 2rem;
  animation: fadeIn 1.5s ease-out forwards;
}

@keyframes bounce {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-15px); }
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}


/* .spinner {
  border: 6px solid rgba(255, 255, 255, 0.2);
  border-top: 6px solid #fff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
} */

