@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&family=Titillium+Web:wght@200;300;400;600;700;900&display=swap');

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #0D1B2A;
  background-image: url('../assets/images/record.png');
  background-position: right;
  background-repeat: no-repeat;
  background-size: clamp(200px, 40vw, 600px);
  background-blend-mode: multiply;
  background-attachment: fixed;
}


.appContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Happy Monkey', 'Titillium Web', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}

@media (max-width: 768px) {
  .appContainer {
    padding: 1rem;
  }
}