.dashboardContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* background-color: linear-gradient(160deg, #0D1B2A 0%, #1A2E44 100%); */
  font-family: 'Happy Monkey', 'Titillium Web', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding-bottom: 80px; 
}


.positioned-logo {
  position: absolute;
  top: 40px;
  left: 40px;
  height: 11em;
  transition: transform 0.3s ease, filter 0.3s;
}

.positioned-logo:hover {
  transform: scale(1.05);
  filter: drop-shadow(0 0 1em #eeaac7);
}

.text-h1 {
  font-size: 2.2em;
  color: #ffffff;
  margin: 2rem auto 0.5em auto;
  max-width: 60%;
  padding: 2rem;
  text-align: center;
}

.beating {
  position: relative;
  width: 5rem;
  height: 5rem;
  display: inline-block;
  top: 20px;
  animation: beating 1.5s infinite;
}

@keyframes beating {
  0% { transform: scale(1); }
  50% { transform: scale(1.5); }
  100% { transform: scale(1); }
}

@media (max-width: 768px) {
  .positioned-logo { 
    height: 8em; 
    top: 30px; 
    left: 30px; 
}
  .text-h1 { 
    font-size: 1.6em; 
    margin-top: 9rem; 
    max-width: 90%; 
}
  .beating { 
    width: 3rem; 
    height: 3rem; 
    top: 5px; 
    margin: 0 auto; 
    left: auto; }
}
