.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 1rem;
  color: #fff;
  font-size: 0.9rem;
  /* padding: 1.5rem 0;
  color: #ffffff;
  text-align: center;
  font-family: 'Happy Monkey', cursive;
  background-color: var(--page-bg, transparent); */
}


.footer a {
  color: #eeaac7;
}
