@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.notFoundContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #1a1a1a;
  font-family: 'Press Start 2P', cursive;
  color: #fff;
  text-align: center;
}

.notFoundTitle {
  font-size: 6rem;
  color: #ff79c6; /* rose doux */
  position: relative;
  animation: glitch 1s infinite;
  margin-bottom: 2rem;
}

.notFoundText {
  font-size: 1rem;
  color: #e0e0e0; /* gris clair */
  margin-bottom: 2rem;
}


@keyframes glitch {
  0% {
    text-shadow: 2px 0 #ff79c6, -2px 2px #8be9fd;
  }
  20% {
    text-shadow: -2px -2px #ff79c6, 2px 2px #8be9fd;
  }
  40% {
    text-shadow: 2px 2px #ff79c6, -2px -2px #8be9fd;
  }
  60% {
    text-shadow: -2px 2px #ff79c6, 2px -2px #8be9fd;
  }
  80% {
    text-shadow: 2px -2px #ff79c6, -2px 2px #8be9fd;
  }
  100% {
    text-shadow: 2px 0 #ff79c6, -2px 2px #8be9fd;
  }
}

.notFoundButton {
  margin-top: 2rem;
  padding: 0.7rem 2rem;
  font-size: 0.8rem;
  color: #fff;
  background: #bd93f9;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
  font-family: 'Press Start 2P', cursive;
}

.notFoundButton:hover {
  background: #8be9fd;
  transform: scale(1.05);
}
