.text {
  font-size: 1.2em;
  color: #ffffff;
  margin: 5em 0 2em 0;
  text-align: center;
}

.handleSubmitForm {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.input {
  border: 2px solid #ffffff;
  padding: 1em;
  border-radius: 0.5em;
  width: 30rem;
  font-size: 1em;
}

.submitButton {
  background-color: #eeaac7;
  color: #023a32;
  border: none;
  padding: 1.1em;
  border-radius: 0.5em;
  font-size: 1em;
  cursor: pointer;
  margin: 0.5em;
  width: 10rem;
}

.submitButton:disabled {
  background-color: #cccccc;
  cursor: wait;
  opacity: 0.7;
}

.submitButton:hover {
  background-color: #ee97bd;
}

@media (max-width: 768px) {
  .text { 
    font-size: 1em; 
    margin: 3em 0 1.5em 0; 
 }

  .input { 
    width: 90%; 
    max-width: 300px; 
  }

  .submitButton { 
    width: 90%; 
    max-width: 200px; 
  }
}
