.text {
  font-size: 1.2em;
  color: #ffffff;
  margin: 4em 0 2.2em 0;
  text-align: center;
}

.handleSubmitForm {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.input {
  border-radius: 1em;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 1.3em;
  width: 35rem;
  font-size: 1em;
  background: rgba(255, 255, 255, 0.114);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  color: white;
  transition: all 0.3s ease;
}

.input:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(238, 170, 199, 0.5);
}

.submitButton {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 11rem;
  padding: 1.2em;
  border-radius: 0.8em;
  border: 1px solid rgba(255,255,255,0.2);
  margin-left: 0.5rem;
  background: rgba(238, 146, 186, 0.25);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  color: white;
  font-size: 1em;
  font-weight: 600;
  cursor: pointer;
  overflow: hidden;
  z-index: 1;
  transition: all 0.3s ease;
}

.submitButton::before {
  content: "";
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%; 
  height: 100%;
  /* background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><defs><linearGradient id="grad" x1="0%" y1="0%" x2="100%" y2="100%"><stop offset="0%" stop-color="white" stop-opacity="0.1"/><stop offset="100%" stop-color="white" stop-opacity="0"/></linearGradient></defs><rect width="100%" height="100%" fill="url(%23grad)" /></svg>') no-repeat center/cover; */
  transform: translateX(-100%);
  /* animation: waveSVG 18s linear infinite; */
  z-index: 0;
}

/* @keyframes waveSVG {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(100%); }
} */

.submitButton span {
  position: relative;
  z-index: 1;
}

.submitButton:hover:not(:disabled) {
  background: rgba(238,153,189,0.35);
  transform: scale(1.03);
  box-shadow: 0 0 15px rgba(238,170,199,0.5);
}


/* .input {
  border: 2px solid #ffffff;
  padding: 1em;
  border-radius: 0.5em;
  width: 30rem;
  font-size: 1em;
}

.submitButton {
  background-color: #eeaac7;
  color: #023a32;
  border: none;
  padding: 1.1em;
  border-radius: 0.5em;
  font-size: 1em;
  cursor: pointer;
  margin: 0.5em;
  width: 10rem;
}

.submitButton:disabled {
  background-color: #cccccc;
  cursor: wait;
  opacity: 0.7;
}

.submitButton:hover {
  background-color: #ee97bd;
}

@media (max-width: 768px) {
  .text { 
    font-size: 1em; 
    margin: 3em 0 1.5em 0; 
 }

  .input { 
    width: 90%; 
    max-width: 300px; 
  }

  .submitButton { 
    width: 90%; 
    max-width: 200px; 
  }
} */
