.resultBox {
  width: 80%;
  max-width: 400px;
  color: #ffffff;
  margin: 0 auto;
  font-family: 'Courier New', Courier, monospace;
}

.resultText {
  font-size: 1em;
  margin-bottom: 0.5rem;
}

.resultError {
  font-size: 1em;
  color: #ff5555;
}
