@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&family=Titillium+Web:wght@200;300;400;600;700;900&display=swap');


body {
  background-color: #023A32;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: 'Happy Monkey', 'Titillium Web', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.positioned-logo {
  position: absolute;
  top: 40px;
  left: 40px;
  height: 11em;
  transition: transform 0.3s ease;
  will-change: filter;
  transition: filter 300ms;
}

.positioned-logo:hover {
  transform: scale(1.05);
  filter: drop-shadow(0 0 1em #eeaac7);
}


h1 {
  font-size: 2.2em;

  color: #ffffff;
  margin-bottom: 0.5em;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
